<main class="text-center">
    <h1 id="aspnetTitle">Project EQ</h1>
    <img src="~/images/splash.png" />
    <section class="row" aria-labelledby="websiteTitle">
        <p class="lead text-warning">This is the space for Project EQ’s back office. Access is not possible except for those involved. thank you</p>
    </section>
</main>
