
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
<div class="text-center">
    <a href="/managetrackingarea" class="btn btn-primary btn-xlg">
        Manage Area<br />
        &nbsp;
    </a>
    <a href="/managetrackingitem" class="btn btn-primary btn-xlg">
        Manage Tracking<br /> Item Template
    </a>
</div>
